jSpace-Project/.idea/compiler.xml
jSpace-Project/.idea/copyright/profiles_settings.xml
jSpace-Project/.idea/modules.xml
jSpace-Project/.idea/misc.xml
jSpace-Project/.idea/workspace.xml
jSpace-Project/jSpace-Project.iml