jSpace-Project/.idea/compiler.xml
jSpace-Project/.idea/copyright/profiles_settings.xml
jSpace-Project/.idea/modules.xml
jSpace-Project/.idea/misc.xml
jSpace-Project/.idea/workspace.xml
jSpace-Project/jSpace-Project.iml
.metadata/
*.class
jSpace-Project/.idea/uiDesigner.xml
*.xml___jb_tmp___
*.java___jb_tmp___
jSpace-Project/.idea/vcs.xml
jSpace-Project/.idea/vcs.xml
*.xml
*.xml
jSpace-Project/bin
.DS_Store
jSpace-Project/bin/common/
jSpace-Project/bin/common